body {
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.top-bar {
    background: #1273eb;
    padding: 4px 0px;
}

@media screen and (max-width: 990px) {
    .top-bar {
        display: none;
    }
}

.social-media ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.social-media ul li {
    display: inline-block;
    padding: 0px 5px;
}

.social-media ul li a {
    font-size: 16px;
    color: #ffffff;
}

.social-media ul li a:hover {
    color: #323232;
}

.nav1 {
    margin-left: 6px;
}

#sliderID {
    width: 100%;
    height: calc(100vh - 110px);
    padding: 0;
    overflow: hidden;
    background: #000;
}

#sliderID .carousel-item {
    width: 100%;
    height: calc(100vh - 110px);
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
    overflow: hidden;
}

#sliderID .carousel-item::before {
    content: '';
    background-color: rgba(13, 30, 45, 0.6);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

#sliderID .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

#sliderID .carousel-content {
    text-align: left;
}

@media (max-width: 992px) {
    #sliderID,
    #sliderID .carousel-item {
        height: calc(100vh - 70px);
    }

    #sliderID .carousel-content.container {
        padding: 0 50px;
    }
}

#sliderID h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

#sliderID .carousel-inner .carousel-item {
    transition-property: opacity;
    background-position: center top;
}

#sliderID .carousel-inner .carousel-item,
#sliderID .carousel-inner .active.carousel-item-start,
#sliderID .carousel-inner .active.carousel-item-end {
    opacity: 0;
}

#sliderID .carousel-inner .active,
#sliderID .carousel-inner .carousel-item-next.carousel-item-start,
#sliderID .carousel-inner .carousel-item-prev.carousel-item-end {
    opacity: 1;
    transition: 0.5s;
}

#sliderID .carousel-inner .carousel-item-next,
#sliderID .carousel-inner .carousel-item-prev,
#sliderID .carousel-inner .active.carousel-item-start,
#sliderID .carousel-inner .active.carousel-item-end {
    left: 0;
    transform: translate3d(0, 0, 0);
}

#sliderID .carousel-control-prev,
#sliderID .carousel-control-next {
    width: 10%;
}

#sliderID .carousel-control-next-icon,
#sliderID .carousel-control-prev-icon {
    background: none;
    font-size: 48px;
    line-height: 1;
    width: auto;
    height: auto;
}

#sliderID .carousel-indicators li {
    cursor: pointer;
}

#sliderID .btn-get-started:hover {
    background: #1c5c93;
}

@media (max-width: 768px) {
    #sliderID h2 {
        font-size: 28px;
    }
}

@media (max-height: 500px) {
    #sliderID,
    #sliderID .carousel-item {
        height: 120vh;
    }
}

@media (min-width: 1024px) {
    #sliderID .carousel-control-prev,
    #sliderID .carousel-control-next {
        width: 5%;
    }
}

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #f5f9fc;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-top: 30px;
}

.section-title h2 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #5c768d;
}

.section-title p {
    margin-bottom: 0;
}

.footer {
    background: #282828;
}

.footer_logo p {
    margin-top: 15px;
    color: rgba(255, 255, 255, 0.6);
}

.footer_logo ul {
    margin: 0px;
    padding: 0px;
}

.footer_logo ul li {
    display: inline-block;
    margin-left: 5px;
}

.footer_logo ul li a {
    width: 35px;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.3s;
    line-height: 31px;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    border-color: #515151;
    color: #515151;
}

.footer_logo ul li a:hover {
    background: #d6a300;
    color: #fff;
    border-color: #d6a300;
}

.link_footer {
    padding-left: 55px;
    padding-bottom: 55px;
    padding-top: 95px;
}

.link_footer ul {
    padding: 0px;
}

.link_footer ul li {
    list-style: none;
}

.footer h4 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 45px;
    margin-top: 0px;
}

.link_footer ul li a {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 10px;
    font-weight: normal;
    display: block;
    transition: all 0.3s;
}

.link_footer ul li a:hover {
    color: #d6a300;
}

.footer .bottom-footer {
    margin-top: 60px;
}

.footer .bottom-footer .bor_top {
    border-top: 1px solid #2f2f2f;
    padding: 24px 0;
}

.footer .bottom-footer p {
    color: #c3c3c3;
    line-height: 35px;
    margin: 0px;
}

.footer .bottom-footer p a {
    font-weight: normal;
}

.bor_top a {
    color: #d6a300;
}

.intro-single {
    padding: 3rem 0 3rem;
}

@media (max-width: 767px) {
    .intro-single {
        padding-top: 2rem;
    }
}

.intro-single .title-single-box {
    padding: 1rem 0 1rem 2rem;
}

.intro-single .title-single-box {
    border-left: 3px solid #1273eb;
}

.intro-single .title-single-box .title-single {
    font-weight: 600;
    font-size: 2.2rem;
}

@media (min-width: 768px) {
    .intro-single .title-single-box .title-single {
        font-size: 2.1rem;
    }
}

@media (min-width: 992px) {
    .intro-single .title-single-box .title-single {
        font-size: 2.5rem;
    }
}

.intro-single .breadcrumb-box {
    padding: 1rem 0 0 .5rem;
}

.intro-single .breadcrumb {
    background-color: transparent;
    padding-right: 0;
    padding-left: 0;
}

.padd {
    padding-top: 10px;
    padding-bottom: 30px;
}

.title-box-d {
    padding-bottom: 1.8rem;
    margin-bottom: 1rem;
    position: relative;
}

.title-box-d .title-d {
    font-weight: 600;
    font-size: 2rem;
}

.title-box-d .title-d:after {
    content: '';
    position: absolute;
    width: 70px;
    height: 4px;
    background-color: #1273eb;
    bottom: 20px;
    left: 0;
}

.color-text-a {
    color: #555555;
}

.no-margin {
    margin: 0;
}

.img-article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}

.descriptionAbout {
    color: #4c4a37;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 32px;
    margin: 0 0 24px;
}
.ptb-xs-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}
.pb-60 {
    padding-bottom: 60px;
}
.pb-40 {
    padding-bottom: 40px;
}
.solution_box.about_new {
    padding-top: 0px;
    padding-bottom: 0px;
}
.solution_box {
    text-align: center;
    background: #fff;
    padding: 40px;
}
.solution_box h4 {
    margin: 20px 0px;
}
@media (min-width: 768px) and (max-width: 991px) {
    .up-80 {
        margin-top: 50px;
    }
    .mt-sm-30 {
        margin-top: 30px;
    }
    .mb-sm-30 {
        margin-bottom: 30px;
    }
    .float-none-sm {
        float: none;
    }
    .float-left-sm {
        float: left;
    }
    .float-right-sm {
        float: right;
    }
    .pl-sm-0 {
        padding-left: 0;
    }
    .plr-xs-15 {
        padding-right: 15px;
        padding-left: 15px;
    }

    .padding-sm-25 {
        padding: 25px;
    }
}
.mt-xs-30 {
    margin-top: 30px;
}
.gray-bg {
    background: #f8f8f8;
}
.pt-30 {
    padding-top: 30px;
}
.ptb-xs-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}
.mt-60 {
    margin-top: 60px;
}
.mt-xs-0 {
    margin-top: 0px;
}
.txtB{
    font-size: 40px;
    margin-top: 0;
    color: #222;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.bigger_text {
    text-transform: uppercase;
}
.ptb-xs-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}
.pb-30 {
    padding-bottom: 30px;
}
.section_tit{
    width: 100%;
}
@media (max-width: 767px) {
    .sm-l-center {
        margin: 0 auto;
    }

    .section_tit {
        width: 100%;
        text-align: center;
    }
}
.section_tit {
    position: relative;
    padding-bottom: 25px;
    display: inline-block;
}
.section_tit:before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 35%;
    height: 2px;
    background: #000;
}
.section_tit:after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 35%;
    height: 2px;
    background: #000;
}
.section_tit h2 {
    margin: 0px;
}
.section_tit:before, .section_tit:after{
    background: #479c18;
}
.b-line {
    position: relative;
    width: 60px;
    height: 3px;
    background: #222;
    display: block;
    margin: 0 auto;
}
.l-left {
    margin: 0;
}
@media (max-width: 767px) {
    .sm-l-center{
        margin: 0 auto;
    }
    .section_tit{
        width: 100%;
        text-align: center;
    }
}
.section_tit:before, .section_tit:after{
    background: #fff;
}
.call_headding h3{
    margin: 0px;
    font-size: 32px;
}
.bg_contact{
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.bg_contact:before{
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.7);
}
.mt-30 {
    margin-top: 30px;
}
.light-color * {
    color: #fff;
}
.contact_info .call-us{
    margin: 0px;
    font-size: 20px;
}
.contact_info .call-us svg{
    border: 1px solid #fff;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 25px;
    vertical-align: middle;
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
}
.contact_info span{
    margin: 0px 30px;
    font-size:30px;
}

@media (max-width: 767px) {
    .contact_info span{
        display: block;
        margin: 30px 0px;
    }
}
.btn-text {
    font-size: 15px !important;
    color: #fff;
    padding: 0px 10px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    min-width: 200px;
    height:50px;
    line-height: 50px;
    border-radius: 35px;
    text-transform: uppercase;
}

.btn-text:hover {
    color: #fff;
    text-decoration: none;
}
.btn-text .icon_effect {
    color: #fff;
    opacity: 0 !important;
    visibility: hidden !important;
    margin-left: -3px;
    transition: margin 0.3s ease-in-out, opacity 0.3s ease-in-out !important;
    -webkit-transition: margin 0.3s ease-in-out, opacity 0.3s ease-in-out !important;
}
.btn-text:hover .icon_effect {
    margin-left: 10px !important;
    opacity: 1 !important;
    visibility: visible !important;
}
.txtP{
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1rem;
}
.pb-xs-30 {
    padding-bottom: 30px;
}
.mt-15 {
    margin-top: 15px;
}
.pb-xs-40 {
    padding-bottom: 40px;
}
.three_line {
    width: 40px;
    height: 2px;
    background: #000;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}
.three_line:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 80px;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
    background: #000;
}
.three_line:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 80px;
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%);
    background: #000;
}
@media (max-width: 767px) {
    .three_line {
        width: 30px;
    }
    .three_line:before, .three_line:after{
        width: 60px;
    }
}
.mb-30 {
    margin-bottom: 30px;
}
.color_box {
    overflow: hidden;
}
.bg_light_red {
    background: #f27c66;
}
.img-scale figure {
    overflow: hidden;
    margin: 0px;
}
.img-scale img {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    width: 100%;
    transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    -moz-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    -webkit-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    -o-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}
.img-scale:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    -moz-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    -webkit-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    -o-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}
.left_picher {
    float: left;
    width: 210px;
}
.detail_box {
    float: left;
    width: calc(100% - 210px);
    padding: 20px;
}
.detail_box h3 {
    margin: 0px;
    color: #fff;
}
.detail_box p {
    margin: 15px 0px;
    color: #fff;
}
.detail_box ul {
    margin: 0px;
    padding: 0px;
}
.detail_box ul li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}
.detail_box ul li a {
    font-size: 20px;
    color: #fff;
    transition: all 0.3s;
}
.detail_box ul li a:hover {
    color: #000;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .detail_box p {
        margin: 6px 0px;
    }
}
@media (max-width: 991px) {
    .detail_box, .left_picher{
        width: 100%;
    }
}
.iconsB ul {
    margin: 0px;
    padding: 0px;
}

.iconsB ul li {
    display: inline-block;
    margin-left: 5px;
}

.iconsB ul li a {
    width: 35px;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.3s;
    line-height: 31px;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    border-color: #515151;
    color: #515151;
}

.iconsB ul li a:hover {
    background: #d6a300;
    color: #fff;
    border-color: #d6a300;
}
.latest__block-post {
    padding: 20px;
}
.latest__block .more_btn__block {
    margin-top: 10px;
}
.latest__block-title {
    font-size: 20px;
    font-weight: 800;

}
.team__block-section .team-member {
    margin-bottom: 0;
}
.more_btn__block {
    color: #feb20e;
    font-weight: bold;
    display: inline-block;
    margin-top: 30px;
}
.top_footer_info__block {
    background: #222;
    color: #ffffff;
}
.single_info__block h4 span {
    display: block;
    font-size: 80%;
    font-weight: normal;
}
.single_info__block svg {
    font-size: 28px;
    height: 80px;
    line-height: 80px;
    margin-top: -40px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 50px;
}
.single_info__block {
    position: relative;
}
.single_info__block > h4 {
    margin-left: 55px;
    color: #fff;
    font-size: 15px;
    line-height: 23px;
}
.ptb-20 {
    padding-bottom: 20px;
    padding-top: 20px;
}
@media (max-width: 766px) {
    .single_info__block > h4 {
        padding-left: 25%;
    }
}

@media (max-width: 767px) {
    .imgAbout {
        margin-left: -75px;
    }
}
.pt-90{
    padding-top: 90px;
}
